@model WebSistemaHotel.Models.CadastroModel
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/cadastro.css" rel="stylesheet" />
</head>

<body>
    <div class="signup-form">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="danger"></div>
            <h2>Cadastro</h2>
            <p class="hint-text">Crie sua conta. É grátis e leva apenas um minuto.</p>
            <div class="form-group">
                <input class="input-md  textinput textInput form-control" asp-for="Nome" maxlength="30" name="Nome" placeholder="Digite seu nome" style="margin-bottom: 10px" type="text" />
            </div>
            <div class="form-group">
                <input type="email" class="form-control" asp-for="Email" placeholder="Email">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6"><input type="text" class="form-control" asp-for="Estado" placeholder="Estado"></div>
                    <div class="col-xs-6"><input type="text" class="form-control" asp-for="Cidade" placeholder="Cidade"></div>
                </div>
            </div>
            <div class="form-group">
                <input type="tel" class="form-control" asp-for="Telefone" placeholder="Telefone">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6"><input type="password" class="form-control" asp-for="Senha" placeholder="Senha"></div>
                    <div class="col-xs-6"><input type="password" class="form-control" asp-for="Senha" placeholder="Confirmar senha"></div>
                </div>     
            </div>    
            <div class="controls col-md-8 " style="margin-bottom: 10px">
                <label class="radio-inline"> <input type="radio" name="Sexo" asp-for="Sexo" value="M" style="margin-bottom: 10px">Masculino</label>
                <label class="radio-inline"> <input type="radio" name="Sexo" asp-for="Sexo" value="F" style="margin-bottom: 10px">Feminino </label>
            </div>
            <h1></h1>
            <div class="form-group">
                <button type="submit"  asp-action="Create" class="btn btn-success btn-lg btn-block">Registrar agora</button>
            </div>
        </form>
        <div class="text-center">Já tem uma conta? <a href="#">Entre aqui!</a></div>
    </div>
</body>
</html>     