@model IEnumerable<WebSistemaHotel.Models.CadastroModel>

@{
    ViewData
["Title"] = "Index";
}

<h2>Lista Cadastro</h2>

<hr />
<p>
    <a asp-action="Create" class="btn btn-sm btn-primary">Criar Novo</a>
</p>

